html, body {
    margin: 0;
    padding: 0;
   /* border: solid 10px black; */
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  canvas {
    /* border: solid 10px black; */
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  